/* * - star means everypart of the html code meaning before the 
code it will have a border box and after the code it will have a border box too */
*,
*::after *::before {
  box-sizing: border-box;
}

/* It makes it to use the whole entire screen not a single space */
body {
  margin: 0;
  padding: 0;
  background-color: lightgreen;
}

/* This is a huge div that contains the whole entire board like everything */
.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
}

/* This is the squares boxes */
.cell {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  cursor: pointer;
}

/* This whole entire nth:child will choose the square boxes a by itself like only 1 */
.cell:nth-child(1) {
  border-top: none;
  border-left: none;
}

.cell:nth-child(2) {
  border-top: none;
}

.cell:nth-child(3) {
  border-top: none;
  border-right: none;
}

.cell:nth-child(4) {
  border-left: none;
}

.cell:nth-child(6) {
  border-right: none;
}

.cell:nth-child(7) {
  border-left: none;
  border-bottom: none;
}

.cell:nth-child(8) {
  border-bottom: none;
}

.cell:nth-child(9) {
  border-bottom: none;
  border-right: none;
}

/* This is gonna put after and before the code like the main after and before shape is gonna have 
different color while the hover is gonna have another color light grey before clicking into the square, 
since the x is all black you need after and before, while the circle rim is only black so 
just before since it before the white circle inside  */
.cell.circle::before,
.cell.x::after,
.cell.x::before {
  background-color: green;
}

/* This is the color of the shape too */
/* This means if it is not circle or x it will put x or circle but since 
we could put x or circle inside board because it is containing the board */
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: white;
}

/* This is the shape of the shape */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 90px;
}

/* Still the shape of the shape for x rotating after x to 45 deg*/
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(-45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(45deg);
}

/* Still the same for it shape */
.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  height: 90px;
  width: 90px;
}

/* Since this is the different circle it is gonna have color to have same color with background */
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background-color: lightgreen;
  height: 70px;
  width: 70px;
}

/*  */

.winning-message{
display:none;
position: fixed;
top:0;
left:0;
bottom:0;
right:0;
background-color: rbga(0, 0, 0, 0.9);
align-items: center;
justify-content: center;
color:green;
background-color: lightgreen;
font-size:5rem;
flex-direction: column;
}
.winning-message button{
  font-size: 3rem;
  background-color: green;
  border: 1px solid lightgreen;
  color: lightgreen;
  padding: 0.25em 0.5em;
  cursor:pointer;
}
.winning-message button:hover{
  background-color: lightgreen;
  border-color: green;
  color: green;
}
.winning-message.show{
  display:flex;
}